.sidebar{ 
    background:#D9E8FB;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
}

ul{
    list-style-type: none;
    padding-left: 0;
}

a{
    display: block;
    padding: 15px 25px;
    font-size: 25px;
    position: relative;    
    color: black;
    text-decoration: none;  
    text-align: center;  
}

a:hover{
    background: #F7CECC;
}

.course-details{
    display: none;    
}
 
#courses-menu:hover + .course-details{
    display: block;
    position: fixed;
    top: 25%;
    left: 250px;
    width: 225px;
    background: #D9E8FB;
    
}

.logo{
    padding: 1em;
}

.content{
    position: fixed;
    left: 250px;
    right: 0;
    top: 10%;
    bottom: 5%;
    overflow: auto;
}

#content-heading{
    padding-left: 1em;
}

#content-paragraph{
    padding-left: 1em;
    padding-right: 1em;
}


.footer{
    background: #F7CECC;
    position: fixed;
    bottom: 0;
    left: 250px;
    right: 0;
    height: 5%;
    font-size: 15px;
    text-align: center;
}

.header{
    background: #D5E8D4;
    position: fixed;
    top: 0;
    left: 250px;
    right: 0;
    height: 10%;
    font-size: 15px;
    text-align: center;
}